.WeatherData {
  width: 230px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 5px #7c92b4;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.2s;
}
.WeatherData:hover {
  background: rgba(255, 255, 255, 0.5);
}
